Let's create a student data in Python

In [2]:
name = "alice"
age = 18
GPA = 3.78
plays_volleyball = True

print(name)

alice

In [3]:
print(name, age, GPA, plays_volleyball)

alice 18 3.78 True

In [4]:
GPA = GPA + 0.07

print(name, age, GPA, plays_volleyball)

alice 18 3.8499999999999996 True

Let's try and print the student information in a more meaningful manner

In [5]:
print(f"The student name is {name} and they are {age} years old.")

The student name is alice and they are 18 years old.

Let's calculate Alice's age in 15 years

In [6]:
age = age + 15
print(f"The student name is {name} and they will be {age} years old in 15 years.")

The student name is alice and they will be 33 years old in 15 years.

In [ ]:
sports = ["volleyball", "netball", "touch rugby", "cross country"] 
sports[0]

'volleyball'

In [9]:
sports.append("Cricket")

print("Alice is currently playing: ", sports)

Alice is currently playing:  ['volleyball', 'netball', 'touch rugby', 'cross country', 'Cricket']

In [11]:
sports[0:3]

['volleyball', 'netball', 'touch rugby']

Let's see the **last 3 sports** Alice is playing

In [15]:
sports[-3:]

['touch rugby', 'cross country', 'Cricket']

In [17]:
sports[1:]

['netball', 'touch rugby', 'cross country', 'Cricket']

## Calculating letter grade
- 2 or under D
- 3 or under C
- 3.8 or under B
- Above 3.8 A

In [24]:
student_gpa = float(input("What is your GPA? "))

if student_gpa <= 2:
    letter_grade = "D"
elif student_gpa <= 3:
    letter_grade = "C"
elif student_gpa <= 3.8:
    letter_grade = "B"
else:
    letter_grade = "A"

print(f"Student's letter grade is {letter_grade}")

Student's letter grade is A

In [25]:
sports

['volleyball', 'netball', 'touch rugby', 'cross country', 'Cricket']

In [27]:
print(sports[0])
print(sports[1])
print(sports[2])
print(sports[3])
print(sports[4])

volleyball
netball
touch rugby
cross country
Cricket

## Using FOR loop to see all the sports

In [28]:
for x in sports:
    print(x)

volleyball
netball
touch rugby
cross country
Cricket

### Adding extra bits in the for loop

In [ ]:
i = 1
for x in sports:
    print(f"{i}. {x.title()}")
    i = i+1
print("we are done")

1. Volleyball
we are done
2. Netball
we are done
3. Touch Rugby
we are done
4. Cross Country
we are done
5. Cricket
we are done

## List comprehension (alternative to loops)

In [36]:
my_number_list = []

for i in range(100):
    my_number_list.append(i)

my_number_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [37]:
my_number_list_2 = [i for i in range(100)]
my_number_list_2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

### creating a squares of first 100 numbers

In [39]:
squares_of_first_100_nums = [i**2 for i in range(100)]
squares_of_first_100_nums

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801]